/* this code is property of Odalmer Pimentel. insta:@odalmerp */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: white;
    position: relative;
}

.wrapper {
    height: 100vh;
    position: relative;
}

.calculator {
    width: auto;
    height: auto;
    background-color: #0e0d0d;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.display {
    display: grid;
    align-items: center;
    text-align: right;
    background-color: #F71735;
    grid-template-rows: minmax(80px, auto);
    word-wrap: break-word;
    word-break: break-all;
}

.display>* {
    margin-right: 10px;
}

.numbersAndOperators {
    display: grid;
    grid-template-columns: 70% 30%;
}

.numbers {
    display: grid;
    grid-template: "auto auto auto";
}

.operators {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
}

#btn0 {
    grid-column: 1/3;
}

button {
    color: white;
    padding: 25px 35px;
    background-color: #0e0d0d;
    font-size: 20px;
    border: none;
}

button:active, a:active {
    color: #F71735;
    background-color: black;
    font-size: 18px;
}

button:focus {
    outline: none;
}

#btnEqual {
    background-color: #F71735;
    border-radius: 5px;
    color: white;
}

#clear, #division, #multiplication, a, .operators>* {
    color: #F71735;
}

#clear:hover, #division:hover, #multiplication:hover, a:hover {
    color: white;
}

.operators>*:hover {
    color: white;
}

#btnEqual:hover {
    background-color: white;
    color: #F71735;
}

.display:hover {
    background-color: white;
    color: #F71735;
}

#backDisplay {
    display: none;
}

@media(min-width: 900px) {
    button:hover {
        color: #F71735;
    }
}

@media(max-width: 900px) {
    .calculator {
        top: 40%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}